.card {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    left: -15px;

    width: 1px;
    height: 80px;

    background: linear-gradient(#6db353, #6db35300) no-repeat;
    background-size: 1px 80px;
  }

  &__header {
    margin-top: 20px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__text {
    margin-top: 7px;

    color: #6b717b;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }
}
