@import '@/styles/variables';

.stretch-background {
  $bg-height: 840px;

  position: absolute;
  left: 0;
  top: 0;
  z-index: $z-background-1;

  width: 1440px;
  height: $bg-height;

  background: url('/img/bg.svg') no-repeat;

  transform-origin: left center;
}
