@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';
@import 'variables';

body {
  color: $color-dark-blue;
  font-family: 'Basier Circle';
  background: #fff;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

input[type='text'],
input[type='email'] {
  padding: 16px;

  background: #fff;
  border: 1px solid $color-grey-200;
  border-radius: 8px;
}

select {
  padding: 16px;

  background: #fff;
  border: 1px solid $color-grey-400;
  border-radius: 8px;

  appearance: none;
  cursor: pointer;

  option {
    padding: 16px 14px;

    display: block;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    cursor: pointer;
  }
}

textarea {
  padding: 16px;

  background: #fff;
  border: 1px solid $color-grey-200;
  border-radius: 8px;
}

.main {
  margin-top: 120px;

  display: grid;
  grid-template-columns: 1fr 570px;
  gap: 80px;

  h1 + p {
    margin-top: 24px;
  }

  &__cards {
    margin-top: 80px;

    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 40px;
  }

  @media (max-width: $breakpoint-1200) {
    & {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
